# Coleta de Dados no Banco de Dados MySQL

In [1]:
import mysql.connector
import csv

### Definir o acesso ao banco de dados

In [3]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'igti'
)
mycursor = mydb.cursor()

### Conectar sem selecionar banco de dados

In [4]:
mycursor.execute("SHOW DATABASES")

for db in mycursor:
    print(db)

('information_schema',)
('bootcamp',)
('igti',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

### Criar um banco de dados

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = ''
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

### Consultar tabelas do Banco de Dados

In [14]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '',
    database = 'bootcamp'
)

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('caracteristicasgerais_1',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

### Criar uma tabela

In [6]:
mycursor.execute("CREATE TABLE `bootcamp`.`caracteristicageralimovel_1` (\
    idCaracteristicasImovel int NOT NULL AUTO_INCREMENT, \
    idcaracteristicasGerais int NOT NULL, \
    idImovel int NOT NULL,\
    temCaracteristica tinyint DEFAULT NULL,\
    PRIMARY KEY (idCaracteristicasImovel),\
    KEY fk_caracteristicasGerais_has_Imovel_Imovel1_idx (idImovel),\
    KEY fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1_idx (idcaracteristicasGerais),\
    CONSTRAINT fk_caracteristicasGerais_has_Imovel_caracteristicasGerais1 FOREIGN KEY (idcaracteristicasGerais)\
        REFERENCES caracteristicasgerais (idcaracteristicasGerais),\
    CONSTRAINT fk_caracteristicasGerais_has_Imovel_Imovel1 FOREIGN KEY (idImovel) REFERENCES imovel (idImovel)\
)")

IntegrityError: 1022 (23000): Can't write; duplicate key in table 'caracteristicageralimovel_1'

In [11]:
mycursor.execute("SHOW TABLES FROM bootcamp")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('estado',)
('imovel',)
('tipounidade',)

### Inserir dado

In [13]:
query = "INSERT INTO `bootcamp`.`caracteristicasgerais` (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")
mycursor.execute(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

1 registro(s) inserido(s).

### Inserir múltiplos dados

In [20]:
values = [(2, "Elevador"), (3, "Piscina")]
mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

2 registro(s) inserido(s).

### Selecionar tudo de uma tabela

In [27]:
mycursor.execute("SELECT * FROM `bootcamp`.`caracteristicasgerais`")

myresult = mycursor.fetchall()

for mydata in myresult:
    print(mydata)

(1, 'Portaria 24 horas')
(2, 'Elevador')
(3, 'Piscina')

### Selecionar uma ocorrência em uma tabela

In [8]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

(1, 'Portaria 24 horas')

### Ler CSV utilizando o pandas

In [19]:
filename = './datasets/cidades.csv'

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None) # Skipping headers
    for line in reader:
        mycursor.execute("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE, NomeCidade, CodEstadoIBGE)\
            VALUES (%s, %s, %s, %s)", line)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

incsvfile.close()

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`bootcamp`.`cidade`, CONSTRAINT `fk_Cidade_Estado` FOREIGN KEY (`CodEstadoIBGE`) REFERENCES `estado` (`CodEstadoIBGE`))

In [ ]:
mycursor.execute("SELECT count(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

In [ ]:
csv_data = csv.reader(filename)

for row in csv_data:
    i = 0
    print(row)
    if i > 3:
        break

In [20]:
mydb.close()